﻿@{
    ViewData["Title"] = "Contact Support";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@OcHearIt.com">Support@OcHearIt.com</a><br />
    <strong>FeedBack:</strong> <a href="mailto:Feedback@OcHearIt.com">FeedBack@OcHearIt.com</a>
</address>
