﻿@{
    ViewData["Title"] = "WebSite Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site uses cookies for theme prefrences only. If you do not wish to use cookies on this site your theme prefrence will not be saved.</p>