﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<h4>
    <p> This privacy policy governs your use of the software application  O.C Hear It! created by smv2s. O.C Hear It! is an Optical Character Recongition application designed to helped the blind, visually impaired, and those with reading impairments, hear text aloud.  </p>
    <p />
</h4>

<h2>
    What information does the Application obtain and how is it used?
</h2>
<h4>
    O.C Hear It! does not collect or maintain any user information. The application requires permissions to your devices microphone, storage, camera and/or scanner for functional use only. 
    Microphone permissions are used for voice control.
    Storage permissions are to save and read files for OC Hear It! to read.
    Camera permissions are for OC Hear It! to read text from your camera feed.
    Scanner permission is only used on windows device and is for reading from scanner only.
</h4>

<h2>
    Do third parties see and/or have access to information obtained by the Application?
</h2>

<h4>
    OC Hear It! does not share any information with third parties.
    OC Hear It! does not have internet permissions and does not collect anything. 
</h4>

<h2>What are my opt-out rights?</h2>

<h4>
    To opt-out of this privacy policy you may use the standard uninstall processes as available as part of your devices standard use.
</h4>

<h2>Changes</h2>

<h4>
    This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
</h4>

<h2>Your Consent</h2>

<h4>
    By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing," means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards.
</h4>

<h2>Contact</h2>
<h4>
    If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at
    <p><a href="mailto:Support@OCHearIt.com">Support@OCHearIt.com</a></p>
</h4>